# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Removed debug file
*/debug

# cmd binaries
cmd/zeroslopesvc/zeroslopesvc

# swagger docs
cmd/docs/*/

# vendor dependencies (managed with glide)
vendor/*/
